<!DOCTYPE html>
<html>
<head>
  <title><%= appname %></title>

  <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
  <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>
  <div id="container">
  </div>
  <script src="js/default.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
